.cmmobile .cm-menu {
	margin-top: 5px;
	margin-bottom: 20px;
}

.cmmobile .cm-menu .caret {
	margin-top: 6px !important;
}

.cmmobile .cm-menu .navbar-inner {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	box-shadow: none;
}

.cmmobile .expired-time {
	color: #FF0000;
}